<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="1" parallel="classes">
	<test thread-count="1" name="Test">
		<classes>
			<class name="Windows.WinAppDriver.CalculatorTest"></class>
			<class name="Windows.WinAppDriver.NotepadTest"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
